footer {
    border-radius: 10px;
    box-shadow: 0 2px 11px rgba(20, 37, 64, 0.2);

    height: 44px;
    /*margin: 20px;*/
    margin: auto 20px;

    position: fixed;
    width: 92%;
    bottom: 20px;

    z-index: 100;
    background-color: white;
}
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 11px;
}