.journal__container {
    border: white solid 1px;
    border-radius: 6px;
    box-shadow: 0 2px 6px var(--primary);
    opacity: 0.6;
    margin-top: 10px;
    padding: 20px;
}


.journal__motto--zitat {
    font-size: 16px;
    font-weight: 'semibold';
}
.journal__notes--text {
    font-size: 14px;
    font-weight: 'regular';
}
.journal {
    margin-top: 30px;
}


.today_rating {
    margin-top: 30px;

}

.star{
    display: flex;
    justify-content: space-between;
    
}
.star * {
    border: var(--primary-light); 
    margin-top: 14px; 
    width: 35,75px;
    height: 34,46px;
    
}

.retancle {
    display: flex;
    justify-content: space-between;
}

.retancle * {
    margin-top: 14px;
    width: 26px;
    height: 26px; 
}

.today_comprehension {
    margin-top: 70px;

}


.today_motto {
    margin-top: 10px;
    border-radius: 4px;
    border: 0.063rem solid var(--lightgrey);
    padding: 18px;
    width: 315px;
    height: 62px;
}

.today_notes {
    margin-top: 10px;
    border-radius: 4px;
    border: 0.063rem solid var(--lightgrey);
    padding: 18px;
    width: 315px;
    height: 124px;
}


.button_cancel {
    border-radius: 5px;
    margin-top: 30px;
    width: 152px;
    height: 48px;
    background-color: #ffffff;
    color: var(--primary);
    font-family: 'OpenSans';
    font-weight: 'semibold'; 
    font-size: 16px;
    color: var(--primary)

}

.button_save {
    border-radius:5px;
    margin-top: 30px;
    width: 152px;
    height: 48px;
    background-color: #FF5A36;
    color: #ffffff; 
    font-family: 'OpenSans';
    font-weight: 'bold'; 
    font-size: 16px;
}