.journal {
    margin-top: 30px;
}
.journal__container {
    border-radius: 6px;
    box-shadow: 0 2px 11px rgba(20, 37, 64, 0.2);
    margin-top: 10px;
    padding: 20px;
}
.journal__subheader {
    margin-bottom: 10px;
}

.journal__motto--zitat {
    font-size: 16px;
    font-weight: 'semibold';
}
.journal__notes--text {
    font-size: 14px;
    font-weight: 'regular';
}

.journal__rating .journal__star {
    background-image: var(--img-star-act);
    height: 23.63px;
    width: 24.82px;
}