@font-face {
    font-family: 'OpenSans';
    font-weight: 'bold';
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans';
    font-weight: 'semibold';
    src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans';
    font-weight: 'regular';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}


:root {
    --primary: #193251;
    --primary-light: #7589A2;
    --secondary: #FF5A36;
    --secondary-light: #FF9C86;    
    --lightgrey: #E0E4E8;

    --img-header: url('../images/background_shape_1.svg');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: 'OpenSans';
    color: var(--primary);
}
body, h1, h2, h3, p {
    margin: 0;
  }
  h1 {
      font-size: 16px;
      font-weight: 'bold';
      text-align: center;
      text-transform: uppercase;
  }
  h2 {
    font-size: 14px;
    font-weight: 'semibold';
}
h3 {
    font-size: 12px;
    font-weight: 'regular';
    color: var(--primary-light);
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
  margin: 0;
}
main {
    margin: 89px 1.875rem 0 1.875rem;
}
